body {
  height: 100vh;
  background-color: black;
}

.movie-header {
  height: 9vh;
  width: 100vw;
  background-color: goldenrod;
  display: flex;
  justify-content: center;
  align-items: center;

}

.header-title {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  margin: 0 auto;
  color: black;
}

.info-box {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
}

.poster-box {
  display: flex;
  justify-content: center;
}
.year-box {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 25px;
}

.copyright-header {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: auto;
  color: white;
  bottom: 10px;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: goldenrod;
  font-size: 45px;
  font-family: 'Pacifico';
}

h5 {
  font-size: 20px;
  display: inline-block;
  margin: 20px;
  
}

.movie-poster {
  margin-top: 30px;
  width: 300px;
  height: 400px;
  border: 10px outset goldenrod;
}

h1 {
  display: flex;
  justify-content: center;
  color: aliceblue;
}

section {
  display: flex;
  justify-content: center;
}

input {
  border: none;
  margin: 5px;
  background: none;
  border: 2px solid goldenrod;
  color: white;
  

}

button { 
  border: none;
  margin: 5px;
  background: none;
  border: 2px solid goldenrod;
  color: white;
}