body {
  height: 100vh;
  background-color: black;
}

.movie-header {
  height: 10vh;
  width: 100vw;
  background-color: goldenrod;
  display: flex;
  justify-content: center;
  align-items: center;

}

.header-title {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  margin: 0 auto;
  color: black;
}

.info-box {
  display: flex;
  justify-content: center; 
}

.poster-box {
  display: flex;
  justify-content: center;
}
.year-box {
  display: flex;
  justify-content: center;
}

.copyright-header {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: auto;
  color: white;
  bottom: 10px;
}